/* Bootstrap for common examples */

g[k9-elem=common-diagram],
common-diagram {
	kite9-type: diagram;
	fill: white;
}

/* Groups: Invisible containers */

group,
[k9-elem=group] {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-traversal: always;
	kite9-template: url(common-containers-template.xml#group-undirected);
	kite9-min-size: 40px 40px;
}

group[layout],
[k9-elem=group][layout] {
	kite9-template: url(common-containers-template.xml#group-directed);
}

/* Containers: Have a border */

container,
[k9-elem=container] {
	kite9-type: container;
	kite9-padding: 15px;
	kite9-margin: 15px;
	kite9-template: url(common-containers-template.xml#container-undirected);
	stroke: black;
	fill: white;
	kite9-sizing: minimize;
}

container[layout],
[k9-elem=container] {
	kite9-template: url(common-containers-template.xml#container-directed);
}

container.solid,
[k9-elem=container].solid {
	stroke: black;
	stroke-width: 1px;
	stroke-dasharray: none;
}

container.dotted,
[k9-elem=container].dotted {
	stroke: black;
	stroke-width: 1px;
	stroke-dasharray: 4 4;	
}



.container-back {
	stroke: black;
	stroke-width: 2px;
}

*[layout=right] {
	kite9-layout: right;
}

*[layout=down] {
	kite9-layout: down;
}

*[layout=up] {
	kite9-layout: up;
}

*[layout=left] {
	kite9-layout: left;
}

*[layout=horizontal] {
	kite9-layout: horizontal;
}

*[layout=vertical] {
	kite9-layout: vertical;
}


