/* Bootstrap for common examples */

g[k9-elem=common-diagram],
common-diagram {
	kite9-type: diagram;
	fill: white;
}

common-holder,
g[k9-elem=common-holder] {
	kite9-type: container;
	kite9-padding: 10px;
	kite9-margin: 10px;
	kite9-template: url(common-links-template.xml#background);
	fill: #EEEEEE;
}

/* Groups */

group,
[k9-elem=group] {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
	kite9-template: url(common-containers-template.xml#group);
}

container,
[k9-elem=container] {
	kite9-type: container;
	kite9-padding: 15px;
	kite9-margin: 15px;
	kite9-template: url(common-containers-template.xml#container);
}

.container-back {
	stroke: black;
	stroke-width: 2px;
}

*[layout=right] {
	kite9-layout: right;
}

*[layout=down] {
	kite9-layout: down;
}

*[layout=up] {
	kite9-layout: up;
}

*[layout=left] {
	kite9-layout: left;
}


/* Labels */

group label,
[k9-elem=group] [k9-elem=label],
container label,
[k9-elem=container] [k9-elem=label] {
	kite9-usage: label;
	kite9-type: container; 
	kite9-sizing: minimize;
	kite9-template: url(common-containers-template.xml#container-label);
	kite9-padding: 4px;
	kite9-horizontal-align: center;
}


/* tables */

table {
	kite9-layout: grid;
	kite9-type: container;
	kite9-template: url(common-containers-template.xml#table);
}

celltext {
	kite9-usage: regular;
	kite9-type: container;
	kite9-template: url(common-containers-template.xml#celltext);
	kite9-minimum-height: 250px;
	kite9-padding: 10px;
	kite9-vertical-align: center;
	kite9-horizontal-align: left;
	kite9-sizing: minimize;
	font-size: 40px;
	fill: black;
	font-family: "metropolis";
	stroke: none;
}

celltext text-label {
	kite9-horizontal-align: left;
}

bulleted {
	kite9-usage: regular;
	kite9-type: container;
	kite9-template: url(common-containers-template.xml#bulleted);
	kite9-vertical-align: top;
	kite9-horizontal-align: left;	
	font-size: 40px;
	fill: black;
	font-family: "metropolis";
	stroke: none;
}

ctext {
	kite9-usage: regular;
	kite9-vertical-align: top;
	kite9-horizontal-align: left;	
	font-size: 40px;
	fill: black;
	font-family: "metropolis";
	stroke: none;
	kite9-type: text;
}

btext {
	kite9-usage: regular;
	kite9-vertical-align: top;
	kite9-horizontal-align: left;	
	font-size: 40px;
	fill: black;
	font-family: "metropolis";
	font-weight: 700;
	stroke: none;
	kite9-type: text;
}
	
cell {
	kite9-usage: regular;
	kite9-type: container;
}

cell.shaded {
	kite9-template: url(common-containers-template.xml#shaded);
}

cell.shaded-tab {
	kite9-template: url(common-containers-template.xml#shaded-tab);
}


celltext.center, 
celltext.center text-label {
	kite9-horizontal-align: center;
}

celltext.bold {
	font-family: "metropolis";
	font-weight: 700;
}



/* Contexts */

context {
	kite9-template: url(template.xml#context);
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-traversal: always;
	kite9-padding: 12px;	
	kite9-link-inset: 12px;
}

context.dotted {
	kite9-template: url(template.xml#context-dotted);
}



.context-back {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

.context-dotted {
	fill: none;
	stroke: black;
	stroke-width: 1px;
	stroke-dasharray: 4 4;	
}

context > label,
group > label {
	kite9-usage: label;
	kite9-type: container; 
	kite9-sizing: minimize;
	kite9-template: url(template.xml#container-label);
	kite9-padding: 4px;
	kite9-horizontal-align: center;
}

.container-label-front {
	stroke-width: 0;
	font-size: 11px;
	font-family: "metropolis";
	fill: black;
}



tick {
	kite9-usage: regular;
	kite9-type:  container;	
	kite9-template: url(template.xml#tick);
}

table risk,
table tick {
	kite9-horizontal-align: center;
	kite9-margin: 20px;
}

table celltext.bottom {
	kite9-vertical-align: bottom;
}

table celltext.top {
	kite9-vertical-align: top;
}
