*.class

# Eclipse
*.project
*.classpath
target

# Mac Nonsense
*.DS_Store


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Javascript node modules, generally
node_modules

# Jekyll
_site

# Javascript Built Files
k9-server/src/main/resources/static/dist
k9-server/src/main/frontend/node_modules/

# Kite9 Debug Files
k9-server/merges.txt
k9-server/plan.txt
k9-server/ssp.info
k9-server/kite9.log
