---
layout: saas
title: "Pricing"
---

  {% include _saas/header.html %}   
  {% include _saas/portfolio.html %}
  {% include _saas/video.html %}
  {% include _saas/vision.html %}
  {% include _saas/features.html %}
  {% include _saas/footer.html %}
  {% include _saas/scripts.html %}
  

<div class="page">

	<section id="about" class="about">

		<div class="container">
			<div class="row text-center">
				<div class="col-lg-10 col-lg-offset-1">
					<h1 class="page-title">Pricing</h1>


					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="text-center">HOSTED PLAN</h3>
									</div>
									<div class="panel-body text-center">
										<p class="lead" style="font-size: 40px">
											<strong>$TBC / PA</strong>
										</p>
									</div>
									<ul class="list-group list-group-flush text-center">
										<li class="list-group-item"><i class="icon-ok text-danger"></i> Run in your own data-center</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited project members</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
									</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-danger" href="mailto:support@kite9.com?subject=Tell me about Hosted Kite9&body=Hi, Please email me back with details of the hosted plan for Kite9.  thanks.">CLICK TO ENQUIRE</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="text-center">PRO PLAN</h3>
									</div>
									<div class="panel-body text-center">
										<p class="lead" style="font-size: 40px">
											<strong>$40 / month</strong>
										</p>
									</div>
									<ul class="list-group list-group-flush text-center">
										<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited Use</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> 50 Members per project</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
									</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-danger" href="mailto:support@kite9.com?subject=I want to upgrade to premium&body=Hi, please upgrade me to Kite9 premium.  thanks">ENQUIRE NOW</a>
									</div>
								</div>

							</div>
							<div class="col-md-4">
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="text-center">FREE PLAN</h3>
									</div>
									<div class="panel-body text-center">
										<p class="lead" style="font-size: 40px">
											<strong>Free (Beta)</strong>
										</p>
									</div>
									<ul class="list-group list-group-flush text-center">
										<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> 5 projects</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> 5 members per project</li>
										<li class="list-group-item"><i class="icon-ok text-danger"></i> online support</li>
									</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-danger" href="http://kite9.com/register">SIGN UP NOW!</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</section>
</div>