@script url('hoverable.js')

.hoverable {
	cursor: pointer;
}

.mouseover > .indicator {
	fill: #FFFF77 !important;
	fill-opacity: 1 !important;
}


.mouseover > .indicator-path {
	stroke: #FFFF77 !important;
}

.mouseover > g > text {
	fill: #FFFF77 !important;
}


.indicator,
.indicator-path {
	transition-duration: .2s !important;
}