svg {
	user-select: none; 
	-webkit-user-select: none;
	cursor: pointer;
}

[k9-indicator=rect] {
	transition: fill 0.2s;
}

[k9-indicator=path] {
	transition: stroke 0.2s;
}

.mouseover > [k9-indicator=rect],
.mouseover > :not([id]) > [k9-indicator=rect] {
	fill: #CCEEFF !important;
	fill-opacity: 1 !important;
}

.mouseover > [k9-indicator=path],
.mouseover > :not([id]) > [k9-indicator=path] {
	stroke: #CCEEFF !important;
	stroke-opacity: 1 !important;
}

.mouseover > g > text {
	fill: #CCEEFF !important;
}
