@import url('/public/behaviours/links/common-links.css');
@import url('/public/behaviours/containers/common-containers.css');
@import url('/public/fonts/metropolis/metropolis.css');

* {
	
}

diagram,
[k9-elem=diagram] {
	font-family: metropolis;
}

entity[type=document] {
	kite9-type: container;
	kite9-template: url(template.xml#entity-document);
}

value {
	kite9-type: container;
	kite9-template: url(template.xml#value);
	kite9-layout: down;
	kite9-min-size: 300px 300px;
}

[k9-elem=value] .back {
	fill: #ABABAB;
}

collection {
	kite9-type: container;
	kite9-layout: down;
}

collection > name {
	kite9-type: text;
}

collection > grid {
	kite9-type: container;
	kite9-layout: grid;
	kite9-grid-columns: 3;
}

title,
description, 
lastUpdated,
[k9-elem=title],
[k9-elem=description],
[k9-elem=lastUpdated] {
	kite9-type: text;
	kite9-layout: down;
	kite9-text-bounds: 380px 500px;
	fill: #1b1b16;
	stroke: #AAAA88;
	kite9-connection-align: 50%;
	font-size: 35px;
}

title,
[k9-elem=title] {
	font-size: 50px;
}

icon {
	kite9-type: svg;
	kite9-template: url(template.xml#icon);
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-min-size: 50pt 50pt;
	kite9-margin: 10pt;	
}