
.page img {
	width: 30rem;
	margin: auto;
	box-shadow: 3px 3px 14px #aaa;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.video {
	padding-top: 50px;
	padding-bottom: 50px;
}

.video h1 {
	margin: 0;
	padding: 30px;
	font-size: 4.5em;
	font-weight: 700;
}

.vision-items {
	font-size: 1.5em;
}

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.header {
	height: 650px;
	color: white;
}

.header h1 {
	text-stroke: 1px black;
	-webkit-text-stroke: 1px black;
}


/* From Poole */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	box-sizing: border-box;
}

/* Kite9 Logo */
.kite9-logo {
  position: fixed;
  top:  .8rem;
  right: 1rem;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  width: 88px;
  height: 40px;
}

.container.content {
	margin-top: 5rem;
}