<header id="top" class="header">
  <div class="text-vertical-center">
  	<h1>Beautiful Diagrams.</h1>
	<h3>Kite9 draws amazing diagrams of your systems. </h3>
	<h1>Automated.</h1>
	<h3>Get your diagramming under control.</h3>
    <br>
    <a href="http://kite9.com/register" class="btn btn-dark btn-lg">Sign Up Free</a> <a href="href="mailto:support@kite9.com?subject=Demo Please&body=Hi, I saw the Kite9 site and was interested in a demo.   Please get in touch.  Thanks."" class="btn btn-dark btn-lg">Book A Demo</a>
  </div>
</header>
