@import url('/public/behaviours/links/common-links.css');
@import url('/public/behaviours/containers/common-containers.css');
@import url('/public/behaviours/labels/common-labels.css');
@import url('/public/fonts/metropolis/metropolis.css');

@params {
	palettes: url(shape-palette) "insert replace-connected" 
   	          url(/public/behaviours/links/common-links) "link end"
   	          url(/public/behaviours/containers/common-containers) "insert replace-connected contain";
          
	cell-template-uri: url(shape-palette.xml#cell);
}

/* On every example */

diagram {
	kite9-type: diagram;
	kite9-padding: 15px;
	kite9-traversal: none;
	kite9-template: url(template.xml#diagram);
	background-color: white;
}

g.kite9-diagram {
	fill: white;
}

g.box {
	kite9-template: url(template.xml#box);
	kite9-padding: 10px;
	kite9-sizing: minimize;
	kite9-type: container;
	kite9-margin: 20px;
	kite9-min-size: 100px 100px;
	fill: #CCCCAA;
	stroke: #AAAA88;
	kite9-connection-align: 50%;
	stroke-dasharray: none;
}

g.clearbox {
	kite9-padding: 10px;
	kite9-sizing: maximize;
	kite9-type: container;
	kite9-margin: 20px;
	kite9-min-size: 100px 100px;
	kite9-connection-align: 50%;
}

g.text {
	kite9-type: text;
	kite9-margin: 4px;
	kite9-vertical-align: center;
	kite9-connection-align: 50%;
	kite9-horizontal-align: center;
	stroke: black;
	fill: #333300;
	font-family: "metropolis";
	text-align: start;
	font-size: 50px;
	kite9-template: url(template.xml#text);
}

/* Grid */

g.grid {
	kite9-layout: grid;
	kite9-type: container;
	kite9-template: url(template.xml#grid);
	kite9-padding: 1px;
	fill: white;
	stroke: black;
	kite9-padding: 20px;
}

g.cell {
	kite9-type: container;
	kite9-min-size: 30px 30px;
	kite9-template: url(template.xml#cell);
	kite9-sizing: maximize;
	stroke: white;
	fill: white;
}

/* Labels */

[k9-elem=label],
g.label,
label {
	fill: black;
	font-family: "metropolis";
	text-align: start;
	font-size: 16px;
	kite9-padding: 10px;
}