<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/videos">Videos</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/gallery/gallery1">Gallery</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/vision">Vision</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/faq">FAQs</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/about">Contact</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://kite9.com">Use Kite9 (Beta)</a>
    <a class="sidebar-nav-item" href="https://github.com/kite9-org">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy;  Kite9 Ltd. All rights reserved.
    </p>
  </div>
</div>
