<div id="toolbar" class="toolbar header-bar">
		<span id="primary_nav" class="ui-buttonset">
			<a id="more" class="dashboard ui-button ui-widget ui-state-default ui-corner-left ui-button-text-icon-primary" href="http://kite9.com" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-home"></span><span class="ui-button-text">home</span></a>
							
		</span>
		<span id="user_nav" class="ui-buttonset">
				
			
				<span id="user-nav-span">
					<a href="/project/index" id="login" name="user" class="dashboard ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" title="Open the login window" role="button" aria-disabled="false"><span class="ui-button-text">log in</span></a>
					<a href="/register/index" id="register" name="register" class="dashboard ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" title="Register to use Kite9" role="button" aria-disabled="false"><span class="ui-button-text">Register</span></a>
				</span>
			
		</span>
		<a class="navbar-brand" href="http://kite9.com"><img src="/assets/kite9-logo-small-01-9723cdf60c5a60f015b6491429801288.png" alt="Kite9 Logo"></a>
	</div>