/* @font-face { 
	font-family: 'Arial Bold';
	font-weight: 'normal';
	font-style: 'normal';
	src: url('retrieveFont/fonts/Arial Bold.ttf') format('truetype');
}

@font-face { 
	font-family: 'Arial';
	font-weight: 'normal';
	font-style: 'normal';
	src: url('retrieveFont/fonts/Arial.ttf') format('truetype');
} */
