/*
 Compose the functionality.
*/
@script url(editor.js);

diagram {
	kite9-padding: 200px;	/* ensures enough space to drag in */
}

div.main [k9-ui~=invisible] > [k9-indicator=path] {
	stroke: #b7c0fe;
	stroke-width: 4px;
}

div.main [k9-ui~=invisible] > [k9-indicator=rect]  {
	stroke: #b7c0fe;
	stroke-width: 2px;
}

div.main *[k9-info~="contradicting:"] > [k9-indicator=path] {
	stroke: #ff5956;
}

div.main *[k9-info~="contradicting:"] > [k9-indicator=rect] {
	fill: #ff5956;
}

div.main [k9-ui~=invisible].mouseover > [k9-indicator=path] {
	stroke: #CCEEFF !important;
}

div.main [k9-ui~=invisible].mouseover > [k9-indicator=rect] {
	fill: #CCEEFF !important;
}

div.main [k9-ui~=invisible].selected > [k9-indicator=path] {
	stroke: rgb(255, 204, 0) !important;
}

div.main [k9-ui~=invisible].selected > [k9-indicator=rect] {
	fill: rgb(255, 204, 0) !important;
}


