/*
 * This includes CSS directives for making it easier to grab small elements in the diagram.
 */
 
 
[k9-ui~=grab][k9-indicator=path] {
	stroke: #b7c0fe;
	stroke-width: 10px;
	stroke-opacity: 0.01;
	fill: none;
}

[k9-ui~=grab][k9-indicator=rect] {
	fill: #b7c0fe;
	fill-opacity: 0.01;
}