/**
 * Highlights invisible elements like "align" links,
 * direction indicators and layout groups.  So that you can see
 * where elements are in the diagram.
 */

[id] > [k9-indicator~=stroke] {
	stroke: #b7c0feAA;
}

[id] > [k9-indicator~=fill]  {
	fill: #b7c0feAA;
}

.mouseover > [k9-indicator~=stroke],
.mouseover > [k9-indicator~=outline] {
	stroke: #CCEEFF !important;
}

.mouseover > [k9-indicator~=pulse],
.mouseover > [k9-indicator~=rect] {
	fill: #CCEEFF !important;
}

.selected > [k9-indicator~=outline],
.selected > [k9-indicator~=stroke] {
	stroke: rgb(255, 204, 0) !important;
	stroke-width: 2px;
}

.selected > [k9-indicator~=pulse],
.selected > [k9-indicator~=fill] {
	fill: rgb(255, 204, 0) !important;
}
