/**
 * Highlights invisible elements like "align" links,
 * direction indicators and layout groups.
 */

[k9-ui~=invisible] > [k9-indicator~=path] {
	stroke: #b7c0feAA;
}

[k9-ui~=invisible] > [k9-indicator~=rect]  {
	fill: #b7c0feAA;
}

[k9-ui~=invisible].mouseover > [k9-indicator~=path] {
	stroke: #CCEEFF !important;
}

[k9-ui~=invisible].mouseover > [k9-indicator~=rect] {
	fill: #CCEEFF !important;
}

[k9-ui~=invisible].selected > [k9-indicator~=path] {
	stroke: rgb(255, 204, 0) !important;
}

[k9-ui~=invisible].selected > [k9-indicator~=rect] {
	fill: rgb(255, 204, 0) !important;
}
