@font-face {
	font-family: "metropolis";
	src: url('/public/fonts/metropolis/Metropolis-Regular.ttf')
		format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "metropolis";
	src: url('/public/fonts/metropolis/Metropolis-Light.ttf')
		format('truetype');
	font-weight: 200;
}

.contextMenu {
	background-color: grey;
	position: absolute;
	color: #333;
	background: #fff;
	padding: 10px;
	border: 1px solid #5a5a5a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	user-select: none; 
	-webkit-user-select: none;
	opacity: .9;
	max-width: 220px;
}

.contextMenu:after {
	top: 10px;
	bottom: auto;
	left: -12px;
	border-width:  9px 13px 9px 0;
	border-color: transparent #fff;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.contextMenu:before {
	top: 10px;
	bottom: auto;
	left: -14px;
	border-width:  9px 13px 9px 0;
	border-color: transparent #5a5a5a;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.contextMenu img {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 20px;
	background-color: #EEEEEE;
	margin: 0 2px 0 2px;
}

.contextMenu img.selected {
	background-color: rgb(255, 204, 0);
}
.contextMenu img.selected:hover {
	background-color: rgb(205, 184, 0);
}

.contextMenu img:hover {
	background-color: #DDDDDD;
}

.contextMenu img.decoration,
.contextMenu img.decoration:hover {
	background-color: white;
}

.contextMenu div.field {
	width: 36px;
	height: 36px;
	margin: 0 2px 0 2px;
	font-family: metropolis, sans-serif;
	font-size: 12px;
	font-weight: 200;
	display: inline-block;
	vertical-align: top;
	padding: 2px;
	border-radius: 5px;
}

.contextMenu div.field input {
	width: 30px;	
}