
/* Align */

@params {
	align-template-uri:  url(common-links.xml#align);
}

align,
[k9-elem=align] {
	kite9-type: link;
	kite9-template: url(common-links-template.xml#align);
	fill: none;
	stroke-width: 5px;
}

align from,
align to {
	kite9-template: none;	
	kite9-type: none;
}

[k9-elem=from],
[k9-elem=to] {
	fill: #FFFFFF;	/* allows hover events to work */
	fill-opacity: 0.01;
}


/* Links */

link {
	kite9-type: link;
	kite9-template: url(common-links-template.xml#basic-link);
	kite9-margin: 20px;
	kite9-link-minimum-length: 20px;
	kite9-link-corner-radius: 10px;
}

[k9-elem=link-body] {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

[k9-elem=grab] {
	stroke: none;
	fill: none;
}

[k9-elem=link].dotted [k9-elem=link-body] {
	stroke-dasharray: 8;
}

[k9-elem=link].thick [k9-elem=link-body] {
	stroke-width: 4px;
}

[k9-elem=link].grey [k9-elem=link-body] {
	stroke: #CCCCCC;
}

/* Terminators */

from {
	kite9-link-end: from;
}

to {
	kite9-link-end: to;
}

from.gap,
to.gap {
	kite9-marker-reserve: 20px;
}

from, 
to {
	kite9-type: link-end;
	kite9-template: url(common-links-template.xml#round-terminator);
	kite9-padding: 8px 8px 8px 8px;
}

,
[k9-elem=from],
[k9-elem=to] {
	
}

[drawDirection=DOWN] from,
[drawDirection=UP] to  {
	kite9-template: url(common-links-template.xml#up-terminator);
}

[drawDirection=UP] from,
[drawDirection=DOWN] to  {
	kite9-template: url(common-links-template.xml#down-terminator);
}

[drawDirection=RIGHT] from,
[drawDirection=LEFT] to {
	kite9-template: url(common-links-template.xml#left-terminator);
}

[drawDirection=LEFT] from,
[drawDirection=RIGHT] to  {
	kite9-template: url(common-links-template.xml#right-terminator);
}

[drawDirection=LEFT] {
	kite9-direction: left;
}

[drawDirection=RIGHT] {
	kite9-direction: right;
}

[drawDirection=UP] {
	kite9-direction: up;
}

[drawDirection=DOWN] {
	kite9-direction: down;
}
