
/* Align */

@params {
	align-template-uri:  url(common-links.xml#align);
}

align,
[k9-elem=align] {
	kite9-type: link;
	kite9-template: url(common-links-template.xml#align);
	fill: none;
	stroke-width: 5px;
}

align from,
align to {
	kite9-template: none;	
	kite9-type: none;
}


/* Links */

link,
g[k9-elem=link] {
	kite9-type: link;
	kite9-template: url(common-links-template.xml#basic-link);
	kite9-margin: 20px;
	kite9-link-minimum-length: 20px;
	kite9-link-corner-radius: 10px;
	fill: none;
}

link-body,
g[k9-elem=link-body] {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

[k9-elem=grab] {
	stroke: none;
}

link.dotted,
g[k9-elem=link].dotted {
	stroke-dasharray: 8;
}

link.thick,
g[k9-elem=link].thick {
	stroke-width: 4px;
}

link.grey,
g[k9-elem=link].grey {
	stroke: #CCCCCC;
}

/* Terminators */

from {
	kite9-link-end: from;
}

to {
	kite9-link-end: to;
}

from.gap,
to.gap {
	kite9-marker-reserve: 2px;
}

from, 
to,
g[k9-elem=from],
g[k9-elem=to] {
	kite9-type: link-end;
	kite9-template: url(common-links-template.xml#round-terminator);
	kite9-padding: 8px 8px 8px 8px;
}

[drawDirection=DOWN] from,
[drawDirection=UP] to,
[drawDirection=DOWN] g[k9-elem=from],
[drawDirection=UP] g[k9-elem=to]  {
	kite9-template: url(common-links-template.xml#up-terminator);
}

[drawDirection=UP] from,
[drawDirection=DOWN] to,
[drawDirection=UP] g[k9-elem=from],
[drawDirection=DOWN] g[k9-elem=to]  {
	kite9-template: url(common-links-template.xml#down-terminator);
}

[drawDirection=RIGHT] from,
[drawDirection=LEFT] to,
[drawDirection=RIGHT] g[k9-elem=from],
[drawDirection=LEFT] g[k9-elem=to]  {
	kite9-template: url(common-links-template.xml#left-terminator);
}

[drawDirection=LEFT] from,
[drawDirection=RIGHT] to,
[drawDirection=LEFT] g[k9-elem=from],
[drawDirection=RIGHT] g[k9-elem=to]  {
	kite9-template: url(common-links-template.xml#right-terminator);
}

[drawDirection=LEFT] {
	kite9-direction: left;
}

[drawDirection=RIGHT] {
	kite9-direction: right;
}

[drawDirection=UP] {
	kite9-direction: up;
}

[drawDirection=DOWN] {
	kite9-direction: down;
}
