@font-face {
	font-family: "metropolis";
	src: url('../fonts/metropolis/Metropolis-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: "metropolis";
	font-weight: bold;
	src: url('../fonts/metropolis/Metropolis-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "metropolis";
	font-style: italic;
	src: url('../fonts/metropolis/Metropolis-RegularItalic.ttf')
		format('truetype');
}

rect, path, text {
	transition-duration: .3s;
}

* {
	palette: url(http://localhost:8080/public/landing/one.svg)
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15px;
	kite9-traversal: none;
	kite9-template: url(template.xml#diagram);
	background-color: white;
}

g.group {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
}

g.box {
	kite9-template: url(template.xml#box);
	fill: white;
	stroke: cyan;
	kite9-padding: 10px;
	kite9-min-size: 50px 50px;
}

g.button {
	kite9-type: container;
	kite9-template: url(template.xml#button);
	stroke-width: 1px;
	fill: green;
	stroke: black;
}

g.textbutton {
	kite9-template: url(template.xml#button);
	stroke-width: 1px;
	fill: green;
	kite9-type: text;
	kite9-margin: 4px;
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	stroke: black;
	fill: red;
	font-family: "metropolis";
	text-align: start;
	font-size: 50px;
}

g.field {
	kite9-type: container;
	kite9-template: url(template.xml#field);
	fill: purple;
	stroke: none;
}

g.bigtext {
	kite9-type: text;
	kite9-margin: 4px;
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	stroke: black;
	fill: red;
	font-family: "metropolis";
	text-align: start;
	font-size: 50px;
}

g.editbox {
	kite9-type: text;
	kite9-margin: 4px;
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	stroke: black;
	fill: red;
	font-family: "metropolis";
	text-align: start;
	font-size: 50px;
}

/* Links */
g.link {
	kite9-type: link;
	kite9-template: url(template.xml#link);
	kite9-link-minimum-length: 20px;
	kite9-link-corner-radius: 20px;
	stroke: black;
	stroke-width: 3px;
	fill: none;
}

rect.terminator {
	fill: white;
	stroke: none;
}

from, to {
	kite9-type: link-end;
	kite9-template: url(template.xml#terminator);
	kite9-padding: 5px;
}

from.arrow, to.arrow {
	kite9-marker-start-reference: url(template.xml#arrow-start-marker);
	kite9-marker-end-reference: url(template.xml#arrow-end-marker);
	kite9-padding: 5px 12px 5px 1px;
	kite9-marker-reserve: 1px;
}

/** Interactive Stuff */
.mouseover>.kite9-back {
	fill: yellow;
}

.mouseover>.kite9-line {
	stroke: yellow;
}

.selected>.kite9-back {
	fill: orange;
}

.selected>.kite9-line {
	stroke: orange;
}

*[id] {
	cursor: pointer;
}

.contextMenu {
	background-color: grey;
	position: absolute;
	color: #333;
	background: #fff;
	padding: 15px;
	margin: 1em 0 3em;
	border: 5px solid #5a8f00;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
}

.contextMenu:after {
	top: 16px;
	bottom: auto;
	left: -20px;
	border-width: 9px 21px 9px 0;
	border-color: transparent #fff;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.contextMenu:before {
	top: 10px;
	bottom: auto;
	left: -30px;
	border-width: 15px 30px 15px 0;
	border-color: transparent #5a8f00;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.contextMenu img {
	width: 20px;
	height: 20px;
}