@font-face {
	font-family: "metropolis";
	src: url('../fonts/metropolis/Metropolis-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "metropolis";
	font-weight: bold;
	src: url('../fonts/metropolis/Metropolis-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "metropolis";
	font-style: italic;
	src: url('../fonts/metropolis/Metropolis-RegularItalic.ttf') format('truetype');
}


rect, path, text {
	transition-duration: .3s;
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15pt;
	kite9-traversal: none;
	kite9-template: url(template.xml#diagram);
	background-color: white;
}

g.group {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
}

g.box {
	kite9-template: url(template.xml#box);
	fill: blue;
	stroke: cyan;
}

g.button {
	kite9-type: container;
	kite9-template: url(template.xml#button);
	stroke-width: 1pt; 
	fill: green;
	stroke: black;
}

g.field {
	kite9-type: container;
	kite9-template: url(template.xml#field);
	fill: purple;
	stroke: none;
}

.mouseover > .kite9-back {
	fill: yellow;
}

.selected > .kite9-back {
	fill: orange;
}

*[id] {
	cursor: pointer;
}

g.bigtext {
	kite9-type: text;
	kite9-margin: 4pt;
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	stroke: black;
	fill: red;
	font-family: "metropolis";
	text-align: start;	
	font-size: 50px;
}

g.editbox {
	kite9-type: text;
	kite9-margin: 4pt;
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	stroke: black;
	fill: red;
	font-family: "metropolis";
	text-align: start;	
	font-size: 50px;
}

g.link {
	kite9-type: link;
	kite9-template: url(template.xml#link);
	kite9-link-minimum-length: 15pt;
	kite9-link-corner-radius: 10pt;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

from,
to {
	kite9-type: link-end;
	kite9-template: url(template.xml#empty-terminator);
	kite9-padding: 5pt; 
} 

from.arrow,
to.arrow {
	kite9-marker-start-reference: url(template.xml#arrow-start-marker);
	kite9-marker-end-reference: url(template.xml#arrow-end-marker);
	kite9-padding: 5pt 12pt 5pt 1pt;
	kite9-marker-reserve: 1pt;
}
