/* Bootstrap for common examples */

g[k9-elem=common-diagram],
common-diagram {
	kite9-type: diagram;
	fill: white;
	kite9-padding: 10px;
}

common-holder,
g[k9-elem=common-holder] {
	kite9-type: container;
	kite9-padding: 10px;
	kite9-margin: 10px;
	kite9-template: url(common-grid-template.xml#background);
	fill: #EEEEEE;
}

back {
	kite9-usage: decal; 
	kite9-type: svg; 
	kite9-template: url(common-grid-template.xml#rect);
}

*[layout=grid] {
	kite9-layout: grid;
}

/* tables */

table,
[k9-elem=table] {
	kite9-layout: grid;
	kite9-type: container;
	kite9-template: url(common-grid-template.xml#table);
	stroke: black;
	kite9-padding: 10px;
	stroke-width: 2px;
}

cell,
[k9-cell=cell] {
	kite9-template: url(common-grid-template.xml#cell) "0px" "0px";
	kite9-usage: regular;
	kite9-type: container;
	kite9-vertical-align: center;
	kite9-horizontal-align: center;
	kite9-sizing: minimize;
	text-align: middle;
	kite9-min-size: 10px 10px;
	kite9-traversal: always;
}

cell.left {
	kite9-horizontal-align: left;
	text-align: start;
}

cell.right {
	kite9-horizontal-align: right;
	text-align: end;
}

cell.bottom {
	kite9-vertical-align: bottom;
}

cell.top {
	kite9-vertical-align: top;
}

[k9-elem=cell].bordered > [k9-elem=back],
cell.bordered > back {
	stroke: black;
	stroke-width: 2px;
}

[k9-elem=cell].shaded > [k9-elem=back],
cell.shaded > back {
	fill: #CECECE;
	path: #CECECE;
}
