*[layout=grid] {
	kite9-layout: grid;
}

/* tables */

table {
	kite9-layout: grid;
	kite9-type: container;
	kite9-template: url(common-grid-template.xml#table) "0px";
	kite9-padding: 10px;
}

[k9-elem=table] > [k9-elem=back] {
	stroke: black;
	stroke-width: 1px;
	fill: white;
}

cell {
	kite9-template: url(common-grid-template.xml#cell) "0px";
	kite9-usage: regular;
	kite9-type: container;
	kite9-vertical-align: center;
	kite9-horizontal-align: center;
	kite9-sizing: minimize;
	text-align: middle;
	kite9-min-size: 10px 10px;
	kite9-traversal: always;
}

[k9-elem=--temporary] {
	fill: #FFFFFF;
	fill-opacity: 0.01;	
}


[k9-elem=cell].bordered > [k9-elem=back] {
	stroke: black;
	stroke-width: 2px;
}

[k9-elem=cell].shaded > [k9-elem=back] {
	fill: #CECECE;
	path: #CECECE;
}


cell.left {
	kite9-horizontal-align: left;
	text-align: start;
}

cell.right {
	kite9-horizontal-align: right;
	text-align: end;
}

cell.bottom {
	kite9-vertical-align: bottom;
}

cell.top {
	kite9-vertical-align: top;
}


