/**
 * Highlights invisible elements like "align" links,
 * direction indicators and layout groups.  So that you can see
 * where elements are in the diagram.
 * This is all controlled by the 'k9-indicator' attribute. 
 * Meanings:
 *
 * fill: this is a permanently filled shape
 * pulse: this is filled when you mouse-over the shape
 * stroke: permanent change to the stroke effect.
 * outline: stroke effect change on mouse-over
 * bar: fatter links to make an easier grab
 * grab: fills the shape so it can always be grabbed
 */
div.indicators-on [id] > [k9-indicator~=stroke],
div.palette-item  [id] > [k9-indicator~=stroke] {
	stroke: #b7c0feAA;
	transition: stroke 0.2s;
}

div.indicators-on [id] > [k9-indicator~=fill],
div.palette-item  [id] > [k9-indicator~=fill] {}
	fill: #b7c0fe66;
	transition: fill 0.2s;
}

.mouseover > [k9-indicator~=stroke],
.mouseover > [k9-indicator~=outline] {
	stroke: #CCEEFF !important;
	transition: stroke 0.2s;
}

.mouseover > [k9-indicator~=pulse],
.mouseover > [k9-indicator~=fill],
.mouseover.grid-temporary {
	fill: #CCEEFF !important;
	fill-opacity: .8;
	transition: fill 0.2s;
}

.selected > [k9-indicator~=outline],
.selected > [k9-indicator~=stroke] {
	stroke: rgb(255, 204, 0) !important;
	stroke-width: 2px;
	transition: stroke 0.2s;
	stroke-opacity: .8;
}

.selected > [k9-indicator~=pulse],
.selected > [k9-indicator~=fill],
.selected.grid-temporary {
	fill: rgb(255, 204, 0) !important;
	transition: stroke 0.2s;
	fill-opacity: .8;
}

[id].selected > g > text {
	fill: rgb(255, 204, 0) !important;
	
}

.mouseover > g > text {
	fill: #CCEEFF !important;
}

/*
 * This includes CSS directives for making it easier to grab small elements in the diagram.
 */
[k9-indicator~=grab] {
	stroke: #FFFFFF01;
	stroke-width: 10px !important;
}

[k9-indicator=bar] {
	stroke: #b7c0fe;
	stroke-width: 6px;
	transition: 0.1s;
}

/* To be removed */

div.indicators-on .grid-temporary {
	fill-opacity: .3;
	stroke: none;
}
