/* Bootstrap for common examples */

g[k9-elem=common-diagram],
common-diagram {
	kite9-type: diagram;
	fill: white;
}

common-holder,
g[k9-elem=common-holder] {
	kite9-type: container;
	kite9-padding: 10px;
	kite9-margin: 10px;
	kite9-template: url(common-links-template.xml#background);
	fill: #EEEEEE;
}

@params {
	align-template-uri:  url(common-links.xml#align);
}


/**
 * Groups.  These are a pretty useful abstraction.
 */
group,
g[k9-elem=group] {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
	kite9-template: url(common-links-template.xml#group);
}

/* Align */

align {
	kite9-type: link;
	kite9-template: url(common-links-template.xml#align);
}

/* Links */

link,
g[k9-elem=link] {
	kite9-type: link;
	kite9-template: url(common-links-template.xml#basic-link);
	kite9-margin: 20px;
	kite9-link-minimum-length: 20px;
	kite9-link-corner-radius: 10px;
	stroke: black;
	stroke-width: 2px;
	fill: none;
	
}

link.dotted,
g[k9-elem=link].dotted {
	stroke-dasharray: 8;
}

link.thick,
g[k9-elem=link].thick {
	stroke-width: 4px;
}

link.grey,
g[k9-elem=link].grey {
	stroke: #CCCCCC;
}

/* Terminators */

from, 
to,
g[k9-elem=from],
g[k9-elem=to] {
	kite9-type: link-end;
	kite9-template: url(common-links-template.xml#round-terminator);
	kite9-padding: 6px 6px 6px 6px;
	stroke: none;
	fill: white;		/* This is set so we can select these */
	fill-opacity: .05;
}

link[drawDirection] from,
link[drawDirection] to,
link[drawDirection] g[k9-elem=from],
link[drawDirection] g[k9-elem=to]  {
	kite9-template: url(common-links-template.xml#directed-terminator);
	fill-opacity: .25;	/* Make these a bit more visible */
}

align from,
align to {
	kite9-template: none;	
}

from.gap,
to.gap {
	kite9-marker-reserve: 2px;
}
