@import url('/public/behaviours/links/common-links.css');
@import url('/public/behaviours/containers/common-containers.css');
@import url("/public/behaviours/grid/common-grid.css");
@import url('/public/behaviours/labels/common-labels.css');
@import url('/public/behaviours/image/common-image.css');
@import url('/public/behaviours/text/common-text.css');
@import url('/public/fonts/metropolis/metropolis.css');
@import url('risks.css');
@import url('artifacts.css');
@import url('actions.css');

@params {
	palettes: url(risk-palette) "insert replace-connected"  
			  url(artifact-palette) "insert replace-connected contain"
			  url(/public/behaviours/containers/common-containers) "insert replace-connected contain"
	   	      url(/public/behaviours/links/common-links) "link end";
	          	          
	align-template-uri:  url(link-palette.xml#align-element);
	cell-template-uri: url(template.xml#cell-template);
}

/* Titles, generally */

title,
[k9-elem=title] {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: horizontal;
	kite9-template: url(template.xml#title);
	kite9-horizontal-align: center;
	kite9-vertical-align: bottom;
	fill: black;
	stroke: none;
	font-size: 12px;
	font-weight: 200;
	font-family: metropolis;
	text-align: middle;
}

/* Labels */

label > front,
[k9-elem=label] [k9-elem=front] {
	text-align: middle;
	fill: black;
	font-weight: 100;
	font-family: metropolis;
	font-size: 12px;
}

[k9-elem=label] [k9-elem=back] {
	fill: #FFFFFF01;
}

[k9-elem=container] > [k9-elem=back] {
	stroke-width: 1px;
}

/* Arrow */

arrow,
[k9-elem="arrow"] {
	kite9-padding: 8px 5px 8px 5px; 
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(/public/behaviours/text/common-text-template.xml#connected) '4px' '4px';
	kite9-connections: separate;
	kite9-connection-align: 50%;
	font-size: 14px;
	font-family: "metropolis";
	font-weight: 500;
	kite9-link-inset: 3px; 
}

[k9-elem=arrow] > [k9-elem=back] {
	fill: black;	
}

[k9-elem=arrow] > [k9-elem=front] {
	fill: white;
}

/* Risk Descriptions */

description,
[k9-elem=description] {
	kite9-type: container;
	kite9-vertical-align: center;
	kite9-connection-align: 50%;
	kite9-horizontal-align: center;
	kite9-template: url(/public/behaviours/text/common-text-template.xml#connected) '4px' '4px';
	font-size: 14px;
	font-family: "metropolis";
	font-style: italic;
	kite9-padding: 10px;
	kite9-text-bounds-width: 150px;
}

from.space,
to.space {
	kite9-marker-reserve: 8px;
}

