@import url('/public/behaviours/links/common-links.css');
@import url('/public/fonts/metropolis/metropolis.css');

@params {
	palettes: url(risk-palette) "insert" 
			  url(artifact-palette) "insert"
	   	      url(/public/behaviours/links/common-links) "link end";
	          	          
	align-template-uri:  url(link-palette.xml#align-element);
	cell-template-uri: url(template.xml#cell-template);
}

/* Actions */

action {
	kite9-type: container;
	kite9-template: url(template.xml#action);
	kite9-sizing: minimize;
}

action.left {
	kite9-template: url(template.xml#action-left)	
}

/* Artifacts */

artifact, 
users,
computer, 
interface,
component,
channel-artifact,
internal-model-artifact,
protocol-artifact,
agent-artifact {
	kite9-type: container;
	kite9-margin: 10px;
	kite9-link-inset: 10px;
	kite9-link-gutter: 10px;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.xml#artifact);
	kite9-padding: 10px; 
	kite9-connection-align: 50%;
	kite9-min-size: 110px 140px;	
}

agent-artifact {
	kite9-template: url(template.xml#artifact)  url(redesign/risks/agency_risk_v2.svg);
}

users {
	kite9-template: url(template.xml#artifact)  url(redesign/artifacts/users_v2.svg);
}

interface {
	kite9-template: url(template.xml#artifact)  url(redesign/artifacts/interface_v2.svg);
}

internal-model-artifact {
	kite9-template: url(template.xml#artifact)  url(redesign/risks/internal_model_risk.svg);
}

channel-artifact {
	kite9-template: url(template.xml#artifact) url(redesign/risks/channel_risk_v2.svg);
}

component {
	kite9-template: url(template.xml#artifact) url(redesign/artifacts/component_v2.svg)";
}

protocol-artifact {
	kite9-template: url(template.xml#artifact) url(redesign/risks/protocol_risk_v2.svg);
}

/* Risks */

mitigated {
	kite9-type: container;
	kite9-template: url(template.xml#mitigated);
}


hidden {
	kite9-type: container;
	kite9-template: url(template.xml#hidden);
}

risk {
	kite9-type: container;
	fill: black;
	kite9-sizing: minimize;
}

risk.mitigated {
	kite9-template: url(template.xml#mitigated);
}

risk.attendant {
	kite9-template: url(template.xml#generic) "Attendant" url(redesign/risks/attendant_risk_v2.svg);
}

risk.hidden {
	kite9-template: url(template.xml#hidden);
}

risk.goal {
	kite9-template: url(template.xml#generic) "Goal" url(redesign/risks/goal_v2.svg);
}

risk.invisibility {
	kite9-template: url(template.xml#fixed) "I" url(redesign/risks/invisibility_risk_v2.svg) "Invisibility Risk";
}

risk.feature {
	kite9-template: url(template.xml#fixed) "F" url(redesign/risks/feature_risk_v2.svg) "Feature Risk";
}

risk.communication {
	kite9-template: url(template.xml#fixed) "Co" url(redesign/risks/communication_risk_v2.svg) "Communication Risk";
}

risk.coordination {
	kite9-template: url(template.xml#fixed) "Cr" url(redesign/risks/coordination_risk_v2.svg) "Coordination Risk";
}

risk.complexity {
	kite9-template: url(template.xml#fixed) "Cx" url(redesign/risks/complexity_risk_v2.svg) "Complexity Risk";
}

risk.boundary {
	kite9-template: url(template.xml#fixed) "B" url(redesign/risks/boundary_risk_v2.svg) "Boundary Risk";;
}

risk.agency {
	kite9-template: url(template.xml#fixed) "A" url(redesign/risks/agency_risk_v2.svg) "Agency Risk";;
}

risk.channel {
	kite9-template: url(template.xml#fixed) "CH" url(redesign/risks/channel_risk_v2.svg) "Channel Risk";;
}

risk.protocol {
	kite9-template: url(template.xml#fixed) "Pr" url(redesign/risks/protocol_risk_v2.svg) "Protocol Risk";;
}

risk.trust {
	kite9-template: url(template.xml#fixed) "T" url(redesign/risks/trust_belief_risk_v2.svg) "Trust & Belief Risk";;
}

risk.learning-curve {
	kite9-template: url(template.xml#fixed) "Lc" url(redesign/risks/learning_curve_risk_v2.svg) "Learning Curve Risk";;
}

risk.message {
	kite9-template: url(template.xml#fixed) "M" url(redesign/risks/message_risk_v2.svg) "Message Risk";;
}

risk.internal-model {
	kite9-template: url(template.xml#fixed) "IM" url(redesign/risks/internal_model_risk_v2.svg) "Internal Model Risk";;
}

risk.feature-fit {
	kite9-template: url(template.xml#fixed) "FF" url(redesign/risks/feature_fit_risk_v2.svg) "Feature Fit Risk";;
}

risk.implementation {
	kite9-template: url(template.xml#fixed) "F-Im" url(redesign/risks/feature_implementation_risk_v2.svg) "Implementation Risk";
}

risk.feature-drift {
	kite9-template: url(template.xml#fixed) "F-D" url(redesign/risks/feature_drift_risk_v2.svg) "Feature Drift Risk";;
}

risk.feature-access {
	kite9-template: url(template.xml#fixed) "F-A" url(redesign/risks/feature_access_risk_v2.svg) "Feature Access Risk";
}

risk.regression {
	kite9-template: url(template.xml#fixed) "F-R" url(redesign/risks/feature_regression_risk_v2.svg) "Regression Risk";
}

risk.conceptual-integrity {
	kite9-template: url(template.xml#fixed) "F-Ci" url(redesign/risks/conceptual_integrity_risk_v2.svg) "Conceptual Integrity Risk";
}

risk.codebase {
	kite9-template: url(template.xml#fixed) "Cb" url(redesign/risks/codebase_risk_v2.svg) "Codebase Risk";
}

risk.dependency {
	kite9-template: url(template.xml#fixed) "D" url(redesign/risks/dependency_risk_v2.svg) "Dependency Risk";
}

risk.dead-end {
	kite9-template: url(template.xml#fixed) "De" url(redesign/risks/dead_end_risk_v2.svg) "Dead-End Risk";
}

risk.reliability {
	kite9-template: url(template.xml#fixed) "D-R" url(redesign/risks/dependency_reliability_risk_v2.svg) "Reliability Risk";
}

risk.scarcity {
	kite9-template: url(template.xml#fixed) "D-Sc" url(redesign/risks/dependency_scarcity_risk_v2.svg) "Scarcity Risk";
}

risk.operational {
	kite9-template: url(template.xml#fixed) "Op" url(redesign/risks/operational_risk_v2.svg) "Operational Risk";
}

risk.schedule {
	kite9-template: url(template.xml#fixed) "D-Sh" url(redesign/risks/dependency_schedule_risk_v2.svg) "Schedule Risk";
}

risk.opportunity {
	kite9-template: url(template.xml#fixed) "D-Opp" url(redesign/risks/dependency_opportunity_risk_v2.svg) "Opportunity Risk";
}

risk.deadline {
	kite9-template: url(template.xml#fixed) "D-Dl" url(redesign/risks/dependency_deadline_risk_v2.svg) "Deadline Risk";
}

risk.funding {
	kite9-template: url(template.xml#fixed) "D-Fu" url(redesign/risks/dependency_funding_risk_v2.svg) "Funding Risk";
}

risk.red-queen {
	kite9-template: url(template.xml#fixed) "D-Rq" url(redesign/risks/dependency_red_queen_risk_v2.svg) "Red Queen Risk";
}

risk.staff {
	kite9-template: url(template.xml#fixed) "D-St" url(redesign/risks/staff_risk_v2.svg) "Staff Risk";
}

risk.process {
	kite9-template: url(template.xml#fixed) "D-Pr" url(redesign/risks/dependency_process_risk_v2.svg) "Process Risk";
}

risk.map-and-territory {
	kite9-template: url(template.xml#fixed) "MT" url(redesign/risks/map_and_territory_risk_v2.svg) "Map And Territory Risk";
}


risk.software-dependency {
	kite9-template: url(template.xml#fixed) "D-Sw" url(redesign/risks/dependency_software_risk_v2.svg) "Software Dependency Risk";
}

risk.security {
	kite9-template: url(template.xml#fixed) "S" url(redesign/risks/security_risk_v2.svg) "Security Risk";
}

risk.methodology {
	kite9-template: url(template.xml#fixed) "Method" url(redesign/artifacts/methodology_v2.svg) "Software Methodology";
}


risk-box {
	kite9-margin: 10px;
	kite9-link-inset: 10px;
	kite9-link-gutter: 10px;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.xml#risk-box);
	kite9-padding: 10px; 
	kite9-connection-align: 50%;
	kite9-min-size: 110px 140px;
}

risk {
	kite9-connection-align: 50%;
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15px;
	kite9-traversal: none;
	kite9-template: url(template.xml#diagram);
	background-color: white;
}

image {
	kite9-type: container;
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-min-size: 50px 50px;
	kite9-margin: 10px;
	
}

image-content {
    kite9-type: svg;
 	kite9-usage: decal;
}

action code,
risk code {
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.xml#code);
	font-size: 22px;
	kite9-margin: 10px;
}

action code,
action title {
	kite9-horizontal-align: left;
}

title {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: horizontal;
	kite9-template: url(template.xml#title);
	kite9-horizontal-align: center;
	kite9-vertical-align: bottom;

}

.risk-back {
	stroke: black;
	stroke-width: 1px;
}

.code-label-front {
	stroke-width: 0;
	font-size: 19px;
	font-family: "metropolis";
	fill: black;
	text-align: middle;
}

.title-label-front {
	font-size: 12px;
	font-family: "metropolis";
	text-align: middle;
}

.action-label-front {
	font-size: 22px;
	font-family: "metropolis";
	text-align: middle;
	fill: black;
}

.action-code-label-front {
	stroke-width: 0;
	font-size: 22px;
	font-family: "metropolis";
	font-weight: 700; 
	fill: black;
	text-align: middle;
}


.container-back {
	stroke-width: 1px; 
	fill:none;
	stroke: black;
}




/* Arrow */
[kite9-elem=arrow],
arrow {
	kite9-padding: 3px 5px 3px 5px; 
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.xml#arrow);
	kite9-connections: separate;
	kite9-connection-align: 50%;
	kite9-link-inset: 4px;
	fill: black;	
}

[k9-elem="arrow"] > [k9-elem="label"] > g > text,
arrow label {
	fill: white;
	stroke: none;
	font-size: 14px;
	font-family: "metropolis";
	font-weight: 700;
	kite9-type: text;
	kite9-sizing: minimize;
	kite9-template: url(template.xml#arrow-label-text);
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
	kite9-padding: 6px;
}

arrow > label > contents {
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
}

/* Risk Descriptions */

description {
	kite9-type: container;	
	kite9-template: url(template.xml#description);
	font-size: 14px;
	font-family: "metropolis";
	font-style: italic;
	kite9-padding: 10px;
}
