<!DOCTYPE html>
<html lang="en">

  {% include saas/head.html %}

<body>

  {% include sidebar.html %}
  
  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
     <!--  <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div> -->

  {% include saas/header.html %}   
  {% include saas/portfolio.html %}
  {% include saas/video.html %}
  {% include saas/vision.html %}
  {% include saas/features.html %}
  {% include saas/footer.html %}
  {% include saas/scripts.html %}
  
  </div>
  
  {% include toggle.html %}
  
  
</body>

</html>
