svg {
	user-select: none; 
	-webkit-user-select: none;
	cursor: pointer;
}

[k9-indicator~=rect] {
	transition: fill 0.2s;
}

[k9-indicator~=path] {
	transition: stroke 0.2s;
}

.selected > [k9-indicator~=rect],
.selected > :not([id]) > [k9-indicator~=rect] {
	fill: rgb(255, 204, 0) !important;
	fill-opacity: 1 !important;
}

.selected > [k9-indicator~=path],
.selected > :not([id]) > [k9-indicator~=path] {
	stroke: rgb(255, 204, 0) !important;
	stroke-opacity: 1 !important;
}

.selected > g > text {
	fill: rgb(255, 204, 0) !important;
}