svg {
	user-select: none; 
	-webkit-user-select: none;
	cursor: pointer;
}

.selected > .indicator {
	fill: rgb(255, 204, 0) !important;
	fill-opacity: 1 !important;
}

.selected > .indicator-path {
	stroke: rgb(255, 204, 0) !important;
}

.selected > g > text {
	fill: rgb(255, 204, 0) !important;
}