image[href] {
	kite9-type: container;
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
	kite9-template: url(common-image-template.xml#image-editable);
}

image[href] front,
[k9-elem=image] [k9-elem=front] {
	fill: #FFFFFF01;	
}