<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Some Examples</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="gallery/components_mvc.png" title="Model View Controller Components, UML Diagram">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="gallery/use_case_packages.png" title="UML Use Cases">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="gallery/class_diagram_orders_0.png" title="A UML Class Diagram">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="gallery/example_1_5_UseCases-graph.png" title="Generated Use Case Diagram">
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="gallery/gallery1" class="btn btn-dark">More</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
