<section id="about" class="about">
	<div class="container">
		<div class="row">
				<div class="col-md-4">
					<h1>Try Kite9 Beta...</h1>
					<a href="http://kite9.com" class="btn btn-dark btn-lg">Try It!</a> <a href="/faq" class="btn btn-dark btn-lg">Browse Our FAQ</a>
				</div>
				<div class="col-md-8">
					<h1>
						...Or read about <a href="vision">Our Design Goals:</a>
					</h1>

					<ul class="list-unstyled fa-ul vision-items" >
						<li><i class="fa-li fa fa-star"></i>You want everyone to have <i>a common viewpoint</i>.</li>
						<li><i class="fa-li fa fa-star"></i>Documentation is <i>easy to maintain</i></li>
						<li><i class="fa-li fa fa-star"></i>Diagramming is ridiculously fast <a href="/videos2">(check out the videos!)</a></li>
						<li><i class="fa-li fa fa-star"></i>Generate diagrams from your code (so they're always correct)</li>
					</ul>
				</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
